<!-- All Vendors data in table and search of Vendors -->
<!DOCTYPE html>

<h1>SLOT DETAILS</h1>

    <div ng-app="myApp.view2" ng-controller="View2Ctrl">

<table border="11" width="1200" ng-show="groundFlag2">

      <tr><th bgcolor="violet">
      Time in hr
      </th> 
            <th bgcolor="violet">
          Status
          </th>
      
        </tr> 
        <tr ng-repeat="row in repeatData track by $index">
          <td align="center">
         {{row.value}}
          </td>

          <td align="center">
      {{(row.data==0) ?'available':'not available'}}
    </td>

        </tr>
    
      </table>

</div>


<!-- 
          <div ng-control-group="credentials">
              <input
                type="text"
                ng-model="vendorSearch"
                placeholder="Search the Vendor" ng-keyup="search();"
                required></br></br>
 -->




      